{
  "name": "@breezystack/{{name}}",
  "version": "0.0.1",
  {{#isPrivate}}
  "private": true,
  {{/isPrivate}}
  "description": "{{description}}",
  "peerDependencies": {
    "react": "^17.0.0 || ^18.0.0",
    "react-dom": "^17.0.0 || ^18.0.0"
  },
  "dependencies: {}
}
